<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define FireGiantTutorial_2_UI_TargetDir=$(var.FireGiantTutorial_2_UI.TargetDir)?>
  <Product Id="1381431C-A74D-48E2-A26E-7B471A8CE36D" Name="Fire Giant Tutorial 3.2" Language="1033" Version="1.0.0.0" Manufacturer="Yasen" UpgradeCode="1DA44DA9-C1E9-42BE-A714-61C3B7B97AF6">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="Icon.ico" SourceFile="$(var.ProjectDir)Icon.ico"/>
    <Binary Id="Exclam.ico" SourceFile="$(var.ProjectDir)Exclam.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"/>

    <Property Id="INSTALLLEVEL" Value="800"/>
    <Property Id="PIDTemplate"><![CDATA[12345<### ###>@@@@@]]></Property>
    <Property Id="PIDACCEPTED" Value="0" />
    
    <Binary Id="CustomActionBinary" SourceFile="$(var.ValidatePIDcustomAction.TargetDir)$(var.ValidatePIDcustomAction.TargetName).CA.dll" />

    <CustomAction Id="CheckPID" BinaryKey="CustomActionBinary" DllEntry="ValidateMethod" Execute="immediate" />
    <!--<CustomAction Id="RefusePID" Error="Invalid Key. Installation aborted!" />-->

    <InstallExecuteSequence>
      <!--<Custom Action="CheckPID" After="CostFinalize" />
      <Custom Action="RefusePID" After="CheckPID">PIDACCEPTED="0" AND NOT Installed</Custom>-->
    </InstallExecuteSequence>

    <UI Id="MyCustomWixUI_Mondo">
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <DialogRef Id="UserRegistrationDlg"/>
      <DialogRef Id="InvalidPidDlg"/>

      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="UserRegistrationDlg" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="UserRegistrationDlg">1</Publish>
      <Property Id="WixUI_UserRegistrationDlgBack">LicenseAgreementDlg</Property>
      <Property Id="WixUI_UserRegistrationDlgNext">SetupTypeDlg</Property>
    </UI>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Complete" Title="Fire Giant Tutorial 3.2" Description="The complete package." Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id ="MainProgram" Title="Program" Description="The main executable and DLL" Level="1">
        <ComponentGroupRef Id="MainProgram" />
        <ComponentRef Id="ExeProgramsMenuShortcut"/>
        <ComponentRef Id="ExeDesktopShortcut"/>
      </Feature>
      <Feature Id="Documentation" Title="Manual" Description="The instruction manual." Level="1000">
        <ComponentRef Id="ManualFile"/>
        <ComponentRef Id="ManualProgramsMenuShortcut"/>
      </Feature>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id ="FireGiant" Name="Fire Giant">
          <Directory Id="INSTALLFOLDER" Name="Tutorial 3.2" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="MyAppProgramMenuFolder" Name="Fire Giant Tutorial 3.2"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainProgram" Directory="INSTALLFOLDER">
      <Component Id="FireGiantTutorial_2_UI.exe" Guid="170ba590-2541-4b6b-bf45-769851efa99d">
        <File Id="FireGiantTutorial_2_UI.exe" Name="FireGiantTutorial_2_UI.exe" Source="$(var.FireGiantTutorial_2_UI_TargetDir)FireGiantTutorial_2_UI.exe" />
      </Component>
      <Component Id="FireGiantTutorial_2_UI.exe.config" Guid="5585d99c-9d6e-424a-94a4-498341848b94">
        <File Id="FireGiantTutorial_2_UI.exe.config" Name="FireGiantTutorial_2_UI.exe.config" Source="$(var.FireGiantTutorial_2_UI_TargetDir)FireGiantTutorial_2_UI.exe.config" />
      </Component>
      <Component Id="Helper.dll" Guid="a0649d2a-81eb-4923-a943-75c4b27a9cc4">
        <File Id="Helper.dll" Name="Helper.dll" Source="$(var.FireGiantTutorial_2_UI_TargetDir)Helper.dll" />
      </Component>
      <Component Id="CreateRegistryComponent" Guid="993E3286-953E-4D27-BB18-B9B7B216E16A">
        <RegistryKey Id="RegInstallDir" Root="HKLM" Key="Software\Fire Giant\Tutorial 2.0" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="InstallDirString" Value="[INSTALLFOLDER]"/>
          <RegistryValue Type="integer" Name="FlagInt" Value="0"/>
          <RegistryValue Type="multiString" Name="InstallDirMultistring" Action="append">
            <MultiStringValue Type="multiString" Name="InstallDirMultistring" Action="append">[TARGETDIR]</MultiStringValue>
            <MultiStringValue Type="multiString" Name="InstallDirMultistring" Action="append">[INSTALLFOLDER]</MultiStringValue>
            <MultiStringValue Type="multiString" Name="InstallDirMultistring" Action="append">[ProgramFilesFolder]</MultiStringValue>
            <MultiStringValue Type="multiString" Name="InstallDirMultistring" Action="append">[USERNAME]</MultiStringValue>
            <MultiStringValue Type="multiString" Name="InstallDirMultistring" Action="append">[COMPANYNAME]</MultiStringValue>
            <MultiStringValue Type="multiString" Name="InstallDirMultistring" Action="append">[PIDKEY]</MultiStringValue>
          </RegistryValue>
        </RegistryKey>
        <IniFile Id="WriteIntoIniFile" Action="addLine" Key="InstallDir" Name="FireGiantINI.ini" Section="Paths" Value="[INSTALLFOLDER]"/>
      </Component>
    </ComponentGroup>

    <Component Id="ExeProgramsMenuShortcut" Guid="FCB090E0-6263-41C9-A5F6-2B76E5F843A6" Directory="MyAppProgramMenuFolder">
      <Shortcut Id="ExeProgramsMenuShortcut" Name="Fire Giant Tutorial 2.0" Description="Shortcut to EXE in Programs Menu" Target="[INSTALLFOLDER]FireGiantTutorial_2_UI.exe"
                WorkingDirectory="INSTALLFOLDER"/>
      <RemoveFolder Id="RemoveProgramsMenuFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="SOFTWARE\[Manufacturer]\[ProductName]" Type="string" Value="yes" KeyPath="yes"/>
    </Component>
    <Component Id="ExeDesktopShortcut" Guid="5B7971CF-96B2-496E-96D9-F11C37C797D7" Directory="DesktopFolder">
      <Shortcut Id="ExeDesktopShortcut" Name="Fire Giant Tutorial 2.0" Description="Shortcut to EXE on Desktop" Target="[INSTALLFOLDER]FireGiantTutorial_2_UI.exe"
                WorkingDirectory="INSTALLFOLDER"/>
      <RemoveFolder Id="RemoveDesktopFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="SOFTWARE\[Manufacturer]\[ProductName]" Type="string" Value="yes" KeyPath="yes"/>
    </Component>

    <Component Id="ManualProgramsMenuShortcut" Guid="6E4551A3-338E-49FB-9EFD-2344642E3136" Directory="MyAppProgramMenuFolder">
      <Shortcut Id="ManualProgramsMenuShortcut" Name="User Guide" Description="Shortcut to Manual in Programs Menu"
                  Target="[INSTALLFOLDER]FBD-II-sem.pdf" WorkingDirectory="INSTALLFOLDER"/>
      <RegistryValue Root="HKCU" Key="SOFTWARE\[Manufacturer]\[ProductName]" Type="string" Value="yes" KeyPath="yes"/>
    </Component>
    <Component Id="ManualFile" Guid="8360289e-6cfe-43c5-9bd3-d8a6473ad2ca" Directory="INSTALLFOLDER">
      <File Id="FBD_II_sem.pdf" Name="FBD-II-sem.pdf" Source="$(var.FireGiantTutorial_2_UI_TargetDir)FBD-II-sem.pdf" />
    </Component>
  </Fragment>
</Wix>
